<div class="form-group left-label">
  <%# DeleteThis - change left label width as needed but make sure all inputs on form match %>
  <div class="left-label-container w-20">
    <%= f.label :ChangeLabel, 'ChangeLabelDisplay:' %>
  </div>
  <div class="left-label-input">
    <%# DeleteThis - default for group of checkboxes is stacked. To make inline, add class inline to div below (or inline-no-wrap for no wrapping) %>
    <div class="checkable-group-container">
      <%# DeleteThis - duplicate checkbox-and-errors-container as needed, or if only one checkbox is needed and no label, then simply keep one checkable-container and remove the label %>
      <div class="checkbox-and-errors-container">
        <div class="checkable-container">
          <%= f.check_box :ChangeAttribute,
            class: 'form-control',
            autofocus: ChangeOrRemove,
            checked: ChangeOrRemove,
            disabled: ChangeOrRemove
          %>
          <%= f.label :ChangeAttribute, 'ChangeAttributeDisplay' %>
        </div>
        <%= f.inline_errors :ChangeAttribute %>
      </div>
      <div class="checkbox-and-errors-container">
        <div class="checkable-container">
          <%= f.check_box :ChangeAttribute,
            class: 'form-control',
            autofocus: ChangeOrRemove,
            checked: ChangeOrRemove
            disabled: ChangeOrRemove
          %>
          <%= f.label :ChangeAttribute, 'ChangeAttributeDisplay' %>
        </div>
        <%= f.inline_errors :ChangeAttribute %>
      </div>
    </div>
  </div>
</div>
