<div class="form-group left-label">
  <%# DeleteThis - change left label width as needed but make sure all inputs on form match %>
  <div class="left-label-container w-20">
    <%= f.label :ChangeLabel, 'ChangeLabelDisplay:' %>
  </div>
  <div class="left-label-input">
    <%# DeleteThis - default for group of radio buttons is stacked. To make inline, add class inline to div below (or inline-no-wrap for no wrapping) %>
    <div class="checkable-group-container">
      <%# DeleteThis - duplicate checkable-container as needed %>
      <div class="checkable-container">
        <%= f.radio_button :ChangeAttribute, ChangeValue,
          class: 'form-control',
          autofocus: ChangeOrRemove,
          checked: ChangeOrRemove,
          disabled: ChangeOrRemove,
          required: ChangeOrRemove
        %>
        <%= f.label :ChangeAttribute_ChangeValue, 'ChangeDisplay' %>
      </div>
      <div class="checkable-container">
        <%= f.radio_button :ChangeAttribute, ChangeValue,
          class: 'form-control',
          autofocus: ChangeOrRemove,
          checked: ChangeOrRemove,
          disabled: ChangeOrRemove,
          required: ChangeOrRemove
        %>
        <%= f.label :ChangeAttribute_ChangeValue, 'ChangeDisplay' %>
      </div>
    </div>
    <%= f.inline_errors :ChangeAttribute %>
  </div>
</div>
